:root {
    --heading-font-family: font-family: 'Nunito', sans-serif;
    --default-font-family: font-family: 'Open Sans', sans-serif;
}


body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0%;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.navbar {
    padding: 0px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-collapse {
    text-align: left;
    margin-right: 80px;
}

.hero { 
    margin: 350px 0px;
    text-align: center;
    font-family: var(--heading-font-family);
}

h1 {
    font-size: 96px;
    color: black;
    font-family: var(--heading-font-family);
}

.about-heading {
    color: black;
    margin-top: 190px;
    font-family: var(--heading-font-family);
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 130px;
    color: black;
    font-family: var(--heading-font-family);
}

.contact-heading {
    font-size: 60px;
    margin-top: 200px;
    font-family: var(--heading-font-family);
}

.projects-heading {
    margin-top: 250px;
    margin-bottom: 100px;
    font-family: var(--heading-font-family);
}

h3 {
    font-size: 35px;
    color: black;
    font-family: var(--heading-font-family);
}

h5 {
    margin-bottom: 50px;
    font-family: var(--heading-font-family);
}

.books-info{
    margin-top: -120px;
}

.weather-info{
    margin-top: -120px;
    margin-bottom: 1px;
}

.fa-circle-chevron-down {
    display: block;
    font-size: 35px;
    text-align: center;
    margin-top: -20px;
    color: black;
}

.btn-dark {
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 1px lightgray;
    color: white;
    background-color: black;
}

.project-button {
    margin-bottom: 250px;
}

.homepage-button {
    margin-top: 80px;
    margin-bottom: -95px;
}

p {
    font-size: 20px;
    color: black;
    margin: 50px;
    text-align: left;
} 



.about-paragraph {
    font-size: 20px;
}

li {
    list-style-type: none;
    text-align: center;
}

.skills-list {
    margin-left: -30px;
}

a {
    text-decoration: none;
}

.contact-icons {
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 400px;
}

.border {
    padding: 10px 20px;
    border-radius: 100px;
    background-color:#F8ECECE6;

}

.contact-email {
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    font-family: var(--default-font-family);
}

.footer-paragraph {
    font-family: var (--default-font-family);
    text-align: center;
}

@media (max-width: 830px) {
    body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
    .navbar-brand {
        margin-left: -10px;
    }
    .hero{ 
    margin: 200px 0px;
    }

    h1{
        font-size: 50px;
        margin: 0 auto;
    }

    h2 {
        margin: 100px 20px 0px;
    }

    h3{
        font-size: 30px;
        margin: 0 auto;
    }

    h5{
        font-size: 15px;
        margin-top: 15px;
    }

    .fa-circle-chevron-down{
        display: none;
    }

    p{
        font-size: 15px;
        margin: 0 auto;
    }

    .about-paragraph {
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }

    .btn-dark {
        padding: 10px 10px;
    }

    .contact-icons {
        text-align: center;
        font-size: 25px;
        margin: 100px 0px 170px 0px;
        justify-content: space-evenly;
}

    .border {
        padding: 5px 10px;
        border-radius: 100px;
        background-color:#F8ECECE6;
}

    .footer-paragraph {
        font-size: 15px;
        text-align: center;
        margin: 20px 15px;
}

    .books-info {
        margin: -90px 90px;
        font-size: 20px;
        text-align: center;
    }

    .weather-info {
        margin: 20px 80px;
        font-size: 20px;
        text-align: center;
    }

    .books-button {
        margin-top: 40px;
    }

    .weather-button {
        margin-top: 40px;
    }

    .books-heading {
        margin-bottom: 30px;
    }

    .weather-heading {
        margin-bottom: 30px;
    }
}