:root {
    --heading-font-family: font-family: 'Nunito', sans-serif;
    --default-font-family: font-family: 'Open Sans', sans-serif;
}


body {
    background-color: #F6EBE8;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.hero { 
    margin: 250px 0px;
    text-align: center;
    font-family: var(--heading-font-family);
}

h1 {
    font-size: 96px;
    color: black;
}

.about-heading {
    font-size: 96px;
    color: black;
    margin-top: 80px;
}

h3 {
    font-size: 35px;
    color: black;
}

h4 {
    margin-top: 50px;
}


a {
    font-size: 45px;
    color: black;
    text-decoration: none;
}

.fa-circle-chevron-down {
    display: block;
    font-size: 35px;
    text-align: center;
    margin-top: -20px;
    color: black;
}

.btn-dark {
    padding: 15px 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 1px lightgray;
    color: #EBDACC;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 130px;
    color: black;
}

p {
    font-size: 20px;
    color: black;
    margin: 50px;
}

.about-paragraph {
    font-size: 20px;
}

.about-skills {
    margin-top: -80px;
}

li {
    list-style-type: none;
    text-align: center;
}

.skills-list {
    margin-left: -30px;
}

@media (max-width: 830px) {
    .hero{ 
    margin: 250px 0px;
    }

    h1{
        font-size: 50px;
        margin: 0 auto;
    }

    h3{
        font-size: 30px;
        margin: 0 auto;
    }

    a {
        font-size: 20px;
    }

    .fa-circle-chevron-down{
        display: none;
    }
    
    h2 {
        margin-top: 100px;
    }

    p{
        font-size: 15px;
        margin: 0 auto;
    }

    .btn-dark {
        padding: 10px 10px;
    }

}